@charset "UTF-8";

*{
	box-sizing: border-box; 
}

.contents-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}

nav{
    grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.sidebar{
    grid-column: 1 / 2;
	grid-row: 2 / 3;}

.main{
	
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.sidebar {
	display: block;
	background-color: #F4F5F7;
}