<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="groupList_contents">
		<div class="page-header">
			<h3>管理場所一覧</h3>
		</div>
		<table class="table table-hover">
			<tr class="thead-dark">
				<th class="text-nowrap text-center align-middle">ID</th>
				<th class="text-nowrap text-center align-middle">管理場所名</th>
				<th class="text-nowrap text-center align-middle">登録日</th>
				<th class="text-nowrap text-center align-middle">更新日</th>
				<th class="text-nowrap text-center align-middle"></th>
			</tr>
			<tr class="table-bordered" th:each="group : ${groupList}">
				<td class="text-nowrap text-center align-middle" th:text="${group.groupId}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${group.groupName}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${#dates.format(group.createdAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${#dates.format(group.updatedAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle">
					<a th:href="@{/group/{groupId}/stock/(groupId=${group.groupId})}" class="btn btn-info">詳細</a>
					<a th:href="@{/group/{groupId}/stock/delete(groupId=${group.groupId})}" class="btn btn-danger">削除</a>
				</td>
			</tr>
		</table>
		<p>
			<a href="/group/add" class="btn btn-primary">新規作成</a>
		</p>
	</div>
</body>

</html>
