<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="groupAdd_contents">
		<div class="page-header">
			<h3>グループを作成</h3>
		</div>
		<form method="post" th:action="@{''}" th:object="${groupForm}">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="table-dark text-nowrap text-center align-middle"><label
						for="">グループ名</label></th>
					<td class="form-group"><input type="text" class="form-control"
						required th:field="*{groupName}"></td>
				</tr>
				<tr>
					<th class="table-dark text-nowrap text-center align-middle"><label
						for="">ユーザー（メールアドレス）</label></th>
					<td class="form-group">
						<div>
							<input class="testNo" type="text" required readonly
								th:field="*{groupList[0]}" th:value="${mail}" />
						</div>
						<div id="additional"></div> <a href="javascript:void(0)"
						id="addInput" class="btn btn-link">＋追加</a> <a
						href=javascript:void(0) id="removeInput" class="btn btn-link">-削除</a>

					</td>
				</tr>
			</table>
			<button class="btn btn-primary btn-lg pull-right" type="submit"
				name="post">追加</button>
		</form>
		<script>
			function add() {
				var inputCount = document.getElementsByClassName("testNo").length;
				var input = document.createElement("input");
				input.setAttribute("type", "text");
				input.setAttribute("id", "groupList" + inputCount);
				input.setAttribute("class", "testNo");
				input.setAttribute("required", "");
				input.setAttribute("name", "groupList[" + inputCount + "]")
				input.setAttribute("value", "");
				var ele = document.createElement("div");
				ele.appendChild(input);
				document.getElementById("additional").appendChild(ele);
			}
			function remove() {
				var ele = document.querySelector('#additional div:last-child');
				ele.remove();
			}
			document.getElementById("addInput").addEventListener("click",
					function(e) {
						add();
					}, false);
			document.getElementById("removeInput").addEventListener("click",
					function(e) {

						remove();
					}, false);
		</script>
	</div>
</body>

</html>
