<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="myPage_contents">
		<div class="page-header">
			<h1>マイページ</h1>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info">ユーザーID</th>
				<th class="info">ユーザー名</th>
				<th class="info">メールアドレス</th>
				<th class="info">パスワード</th>
				<th class="info">誕生日</th>
				<th class="info">役割</th>
			</tr>
			<tr th:object="${user}">
				<td th:text="*{userId}"></td>
				<td th:text="*{userName}"></td>
				<td th:text="*{mail}"></td>
				<td th:text="*{password}"></td>
				<td th:text="*{#dates.format(birthday,'YYYY/MM/dd')}"></td>
				<td th:text="*{role}"></td>
			</tr>
		</table>
		<p>
			<a href="/mypage/edit" class="btn btn-info">編集</a>
		</p>
	</div>
</body>

</html>
