<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="myPage_contents">
		<div class="page-header">
			<h3>マイページ</h3>
		</div>
		
		<table th:object="${user}" class="table table-bordered table-hover">
			<tr>
				<th class="table-dark text-nowrap text-center align-middle">ユーザーID</th>
				<td th:text="*{userId}"></td>
			</tr>
			<tr>
				<th class="table-dark text-nowrap text-center align-middle">ユーザー名</th>
				<td th:text="*{userName}"></td>
			</tr>
			<tr>
				<th class="table-dark text-nowrap text-center align-middle">メールアドレス</th>
				<td th:text="*{mail}"></td>
			</tr>
			<tr>
				<th class="table-dark text-nowrap text-center align-middle">誕生日</th>
				<td th:text="*{#dates.format(birthday,'YYYY/MM/dd')}"></td>
			</tr>
			<tr>
				<th class="table-dark text-nowrap text-center align-middle">ロール</th>
				<td th:switch="*{role}">
					<p th:case="ROLE_ADMIN" class="mb-0">システム管理者</p>
					<p th:case="ROLE_GENERAL" class="mb-0">一般ユーザー</p>
				</td>
			</tr>
		</table>
		<p>
			<a href="/mypage/edit" class="btn btn-info">編集</a>
		</p>
	</div>
</body>

</html>
