<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="stockList_contents">
		<div class="page-header">
			<h1>ストック一覧</h1>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info">グループID</th>
				<th class="info">グループ名</th>
				<th class="info">登録日</th>
				<th class="info">更新日</th>
			</tr>
			<tr th:object="${group}">
				<td th:text="*{groupId}"></td>
				<td th:text="*{groupName}"></td>
				<td th:text="*{#dates.format(createdAt,'YYYY/MM/dd')}"></td>
				<td th:text="*{#dates.format(updatedAt,'YYYY/MM/dd')}"></td>
			</tr>
		</table>
		<p>
			<a th:href="@{/group/{groupId}/stock/add/(groupId=${group.groupId})}" class="btn btn-primary">追加</a>
		</p>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info">ストックID</th>
				<th class="info">品名</th>
				<th class="info">在庫数</th>
				<th class="info">単位</th>
				<th class="info">保管場所</th>
				<th class="info">登録日</th>
				<th class="info">更新日</th>
				<th class="info"></th>
			</tr>
			<tr th:each="stock : ${stockList}">
				<td th:text="${stock.stockId}"></td>
				<td th:text="${stock.stockName}"></td>
				<td th:text="${stock.quantity}"></td>
				<td th:text="${stock.unit}"></td>
				<td th:text="${stock.place}"></td>
				<td th:text="${#dates.format(stock.createdAt,'YYYY/MM/dd')}"></td>
				<td th:text="${#dates.format(stock.updatedAt,'YYYY/MM/dd')}"></td>
				<td>
					<a th:href="@{/group/{groupId}/stock/edit/{stockId}(groupId=${group.groupId},stockId=${stock.stockId})}" class="btn btn-info" sec:authorize="hasRole('GENERAL')">変更</a>
					<a th:href="@{/group/{groupId}/stock/delete/{stockId}(groupId=${group.groupId},stockId=${stock.stockId})}" class="btn btn-danger" sec:authorize="hasRole('GENERAL')">削除</a>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>
