<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="stockEdit_contents">
		<div class="page-header">
			<h3>ストックの編集</h3>
		</div>
		<table class="table table-hover">
			<tr class="thead-dark">
				<th class="text-nowrap text-center align-middle">ID</th>
				<th class="text-nowrap text-center align-middle">グループ名</th>
				<th class="text-nowrap text-center align-middle">登録日</th>
				<th class="text-nowrap text-center align-middle">更新日</th>
			</tr>
			<tr class="table-bordered" th:object="${group}">
				<td class="text-nowrap text-center align-middle" th:text="*{groupId}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{groupName}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{#dates.format(createdAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{#dates.format(updatedAt,'YYYY/MM/dd')}"></td>
			</tr>
		</table>
		<form method="post" th:action="@{''}" th:object="${stockForm}">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="table-dark text-nowrap text-center align-middle"><label for="">品名</label></th>
					<td class="form-group"><input type="text" class="form-control" th:field="*{stockName}"></td>
				</tr>
				<tr>
					<th class="table-dark text-nowrap text-center align-middle"><label for="">在庫数</label></th>
					<td class="form-group"><input type="number" class="form-control" th:field="*{quantity}"></td>
				</tr>
				<tr>
					<th class="table-dark text-nowrap text-center align-middle"><label for="">単位</label></th>
					<td class="form-group"><input type="text" class="form-control" th:field="*{unit}"></td>
				</tr>
			</table>
			<button class="btn btn-info btn-lg pull-right" type="submit" name="update">更新</button>
		</form>
	</div>
</body>

</html>
