<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="stockList_contents">
		<div class="page-header">
			<h3>ストック一覧</h3>
		</div>
		<table class="table table-hover">
			<tr class="thead-dark">
				<th class="text-nowrap text-center align-middle">ID</th>
				<th class="text-nowrap text-center align-middle">グループ名</th>
				<th class="text-nowrap text-center align-middle">登録日</th>
				<th class="text-nowrap text-center align-middle">更新日</th>
			</tr>
			<tr class="table-bordered" th:object="${group}">
				<td class="text-nowrap text-center align-middle" th:text="*{groupId}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{groupName}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{#dates.format(createdAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle" th:text="*{#dates.format(updatedAt,'YYYY/MM/dd')}"></td>
			</tr>
		</table>
		<p>
			<a th:href="@{/group/{groupId}/stock/add/(groupId=${group.groupId})}" class="btn btn-primary">追加</a>
		</p>
		<table class="table table-hover">
			<tr class="thead-dark">
				<th class="text-nowrap text-center align-middle">ID</th>
				<th class="text-nowrap text-center align-middle">品名</th>
				<th class="text-nowrap text-center align-middle">在庫数</th>
				<th class="text-nowrap text-center align-middle">単位</th>
				<th class="text-nowrap text-center align-middle">登録日</th>
				<th class="text-nowrap text-center align-middle">更新日</th>
				<th class="text-nowrap text-center align-middle"></th>
			</tr>
			<tr class="table-bordered" th:each="stock : ${stockList}">
				<td class="text-nowrap text-center align-middle" th:text="${stock.stockId}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${stock.stockName}"></td>
				<td class="text-nowrap text-right align-middle" th:text="${stock.quantity}"></td>
				<td class="text-nowrap text-left align-middle" th:text="${stock.unit}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${#dates.format(stock.createdAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle" th:text="${#dates.format(stock.updatedAt,'YYYY/MM/dd')}"></td>
				<td class="text-nowrap text-center align-middle">
					<a th:href="@{/group/{groupId}/stock/edit/{stockId}(groupId=${group.groupId},stockId=${stock.stockId})}" class="btn btn-info">変更</a>
					<a th:href="@{/group/{groupId}/stock/delete/{stockId}(groupId=${group.groupId},stockId=${stock.stockId})}" class="btn btn-danger">削除</a>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>
